In [1]:
import json

In [2]:
with open('C:\\Users\\USER\\Downloads\\API_EG.ELC.PETR.ZS_DS2_en_csv_v2_4356435.json') as j:
    contents=json.loads(j.read())

In [3]:
type(contents)

list

In [4]:
import pandas as pd

In [5]:
df1=pd.DataFrame(contents)

In [6]:
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,57,58,59,60,61,62,63,64,65,66
0,Last Updated Date,2022-07-20,,,,,,,,,...,,,,NaN,NaN,NaN,NaN,NaN,NaN,
1,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,
2,Aruba,ABW,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,,,,NaN,NaN,NaN,NaN,NaN,NaN,
3,Africa Eastern and Southern,AFE,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,3.12291499758958,3.19332933523694,3.33076647467845,NaN,NaN,NaN,NaN,NaN,NaN,
4,Afghanistan,AFG,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,,,,NaN,NaN,NaN,NaN,NaN,NaN,

In [7]:
df1.drop(index=0,inplace=True)

In [8]:
df2=df1.rename(columns=df1.iloc[0])
df2.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,
1,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,
2,Aruba,ABW,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,,,,NaN,NaN,NaN,NaN,NaN,NaN,
3,Africa Eastern and Southern,AFE,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,3.12291499758958,3.19332933523694,3.33076647467845,NaN,NaN,NaN,NaN,NaN,NaN,
4,Afghanistan,AFG,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,,,,NaN,NaN,NaN,NaN,NaN,NaN,
5,Africa Western and Central,AFW,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,6.89366790527732,7.42563871711695,7.82024821265885,NaN,NaN,NaN,NaN,NaN,NaN,

In [9]:
df2.drop(index=1,inplace=True)

In [10]:
df2.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,
2,Aruba,ABW,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,,,,NaN,NaN,NaN,NaN,NaN,NaN,
3,Africa Eastern and Southern,AFE,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,3.12291499758958,3.19332933523694,3.33076647467845,NaN,NaN,NaN,NaN,NaN,NaN,
4,Afghanistan,AFG,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,,,,NaN,NaN,NaN,NaN,NaN,NaN,
5,Africa Western and Central,AFW,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,6.89366790527732,7.42563871711695,7.82024821265885,NaN,NaN,NaN,NaN,NaN,NaN,
6,Angola,AGO,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,41.9790652385589,46.8248945147679,46.8250716919295,NaN,NaN,NaN,NaN,NaN,NaN,

In [11]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 2 to 267
Data columns (total 67 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            266 non-null    object
 5   1961            266 non-null    object
 6   1962            266 non-null    object
 7   1963            266 non-null    object
 8   1964            266 non-null    object
 9   1965            266 non-null    object
 10  1966            266 non-null    object
 11  1967            266 non-null    object
 12  1968            266 non-null    object
 13  1969            266 non-null    object
 14  1970            266 non-null    object
 15  1971            266 non-null    object
 16  1972            266 non-null    object
 17  1973            266 non-null    object
 18  1974            266 non-null    object
 19  1975            266 non-null    object
 20  1976            266 non-null    object
 21  1977            266 non-null    object
 22  1978            266 non-null    object
 23  1979            266 non-null    object
 24  1980            266 non-null    object
 25  1981            266 non-null    object
 26  1982            266 non-null    object
 27  1983            266 non-null    object
 28  1984            266 non-null    object
 29  1985            266 non-null    object
 30  1986            266 non-null    object
 31  1987            266 non-null    object
 32  1988            266 non-null    object
 33  1989            266 non-null    object
 34  1990            266 non-null    object
 35  1991            266 non-null    object
 36  1992            266 non-null    object
 37  1993            266 non-null    object
 38  1994            266 non-null    object
 39  1995            266 non-null    object
 40  1996            266 non-null    object
 41  1997            266 non-null    object
 42  1998            266 non-null    object
 43  1999            266 non-null    object
 44  2000            266 non-null    object
 45  2001            266 non-null    object
 46  2002            266 non-null    object
 47  2003            266 non-null    object
 48  2004            266 non-null    object
 49  2005            266 non-null    object
 50  2006            266 non-null    object
 51  2007            266 non-null    object
 52  2008            266 non-null    object
 53  2009            266 non-null    object
 54  2010            266 non-null    object
 55  2011            266 non-null    object
 56  2012            266 non-null    object
 57  2013            266 non-null    object
 58  2014            266 non-null    object
 59  2015            266 non-null    object
 60  2016.0          0 non-null      float64
 61  2017.0          0 non-null      float64
 62  2018.0          0 non-null      float64
 63  2019.0          0 non-null      float64
 64  2020.0          0 non-null      float64
 65  2021.0          0 non-null      float64
 66                  266 non-null    object
dtypes: float64(6), object(61)
memory usage: 139.4+ KB

In [12]:
df3=df2.drop(columns=[2016.0,           2017.0,           2018.0,           2019.0,
                 2020.0,           2021.0])

In [13]:
df3.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,
2,Aruba,ABW,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,,,,,,,,,,
3,Africa Eastern and Southern,AFE,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,2.56034097111032,2.71593410953178,2.81255405537284,1.94191781956824,2.25648051652961,2.80379593014382,3.12291499758958,3.19332933523694,3.33076647467845,
4,Afghanistan,AFG,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,,,,,,,,,,
5,Africa Western and Central,AFW,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,8.10912345884941,7.78755760718467,8.3081415625684,7.13225857008371,6.63293135307796,6.94664348429988,6.89366790527732,7.42563871711695,7.82024821265885,
6,Angola,AGO,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,22.3811004041032,24.5909528392685,34.6568109820486,32.0425766195632,29.0921960714918,39.2005157962605,41.9790652385589,46.8248945147679,46.8250716919295,

In [14]:
df3.isna().sum()

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960              0
                 ..
2012              0
2013              0
2014              0
2015              0
                  0
Length: 61, dtype: int64

In [15]:
df4=pd.read_csv('C:\\Users\\USER\\Downloads\\Metadata_Country_API_EG.ELC.PETR.ZS_DS2_en_csv_v2_4356435.csv')

In [16]:
df4.isna().sum()

Country Code      0
Region           48
IncomeGroup      49
SpecialNotes    139
TableName         0
Unnamed: 5      265
dtype: int64

In [17]:
df4.drop(columns='Unnamed: 5',inplace=True)

In [18]:
df4['SpecialNotes'].fillna(df4['SpecialNotes'].mode()[0],inplace=True)

In [19]:
df4['IncomeGroup'].fillna(df4['IncomeGroup'].mode()[0],inplace=True)

In [20]:
df4['Region'].fillna(df4['Region'].mode()[0],inplace=True)

In [21]:
for i in df4.columns:
    print(df4[i].value_counts())
    print('....................')

ABW    1
OSS    1
MYS    1
NAC    1
NAM    1
      ..
GUY    1
HIC    1
HKG    1
HND    1
ZWE    1
Name: Country Code, Length: 265, dtype: int64
....................
Europe & Central Asia         106
Sub-Saharan Africa             48
Latin America & Caribbean      42
East Asia & Pacific            37
Middle East & North Africa     21
South Asia                      8
North America                   3
Name: Region, dtype: int64
....................
High income            129
Lower middle income     54
Upper middle income     54
Low income              28
Name: IncomeGroup, dtype: int64
....................
Fiscal year end: March 31; reporting period for national accounts data: CY.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            146
The reporting period for national accounts data is designated as either calendar year basis (CY) or fiscal year basis (FY). For this country, it is fiscal year-based (fiscal year-end: June 30). Also, an estimate (PA.NUS.ATLS) of the exchange rate covers the same period and thus differs from the official exchange rate (CY).                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     7
Fiscal year end: June 30; reporting period for national accounts data: CY.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               2
Fiscal year ends on September 30; reporting period for national accounts data: FY.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       2
National accounts data are provided in the US dollar.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    2
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ...
The DEC conversion is not reported when national accounts data are unavailable.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
The World Bank systematically assesses the appropriateness of official exchange rates as conversion factors. In this country, multiple or dual exchange rate activity exists and must be accounted for appropriately in underlying statistics. An alternative estimate (“alternative conversion factor” - PA.NUS.ATLS) is thus calculated as a weighted average of the different exchange rates in use in the country. Doing so better reflects economic reality and leads to more accurate cross-country comparisons and country classifications by income level. For this country, this applies to the period 1974-1987. Alternative conversion factors are used in the Atlas methodology and elsewhere in World Development Indicators as single-year conversion factors.                                                                                                                             1
Includes self-governed areas only, which mostly exclude Abkhazia and South Ossetia, but small areas in Abkhazia and South Ossetia are included before 2008 or 2009 because of the changes in self-governed areas.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
Fiscal year ends on September 30; reporting period for national accounts data: FY. The source for national accounts data is the Pacific and Virgin Islands Training Initiative.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
National Accounts data are reported in Zimbabwean Dollar (ZWL). Before 2017, one ZWL is set to be equal to one USD.\n\nThe World Bank systematically assesses the appropriateness of official exchange rates as conversion factors. In this country, multiple or dual exchange rate activity exists and must be accounted for appropriately in underlying statistics. An alternative estimate (“alternative conversion factor” - PA.NUS.ATLS) is thus calculated as a weighted average of the different exchange rates in use in the country. Doing so better reflects economic reality and leads to more accurate cross-country comparisons and country classifications by income level. For this country, this applies to the period 2017-2020. Alternative conversion factors are used in the Atlas methodology and elsewhere in World Development Indicators as single-year conversion factors.      1
Name: SpecialNotes, Length: 111, dtype: int64
....................
Aruba                   1
Other small states      1
Malaysia                1
North America           1
Namibia                 1
                       ..
Guyana                  1
High income             1
Hong Kong SAR, China    1
Honduras                1
Zimbabwe                1
Name: TableName, Length: 265, dtype: int64
....................

In [22]:
df4.isna().sum()

Country Code    0
Region          0
IncomeGroup     0
SpecialNotes    0
TableName       0
dtype: int64

In [23]:
df5=pd.read_csv('C:\\Users\\USER\\Downloads\\Metadata_Indicator_API_EG.ELC.PETR.ZS_DS2_en_csv_v2_4356435.csv')

In [24]:
df5

,INDICATOR_CODE,INDICATOR_NAME,SOURCE_NOTE,SOURCE_ORGANIZATION,Unnamed: 4
0,EG.ELC.PETR.ZS,Electricity production from oil sources (% of ...,Sources of electricity refer to the inputs use...,IEA Statistics © OECD/IEA 2014 (http://www.iea...,NaN

In [25]:
df5.drop(columns='Unnamed: 4',inplace=True)

In [26]:
df6=df3.merge(df5,left_on='Indicator Code',right_on='INDICATOR_CODE')

In [27]:
df=df6.merge(df4,left_on='Country Code',right_on='Country Code')

In [28]:
df.isna().sum()

Country Name           0
Country Code           0
Indicator Name         0
Indicator Code         0
1960                   0
                      ..
SOURCE_ORGANIZATION    0
Region                 0
IncomeGroup            0
SpecialNotes           0
TableName              0
Length: 69, dtype: int64

In [29]:
for i in df.columns:
    print(df[i].value_counts())
    print('..................................')

Aruba                   1
Other small states      1
Malaysia                1
North America           1
Namibia                 1
                       ..
Guyana                  1
High income             1
Hong Kong SAR, China    1
Honduras                1
Zimbabwe                1
Name: Country Name, Length: 265, dtype: int64
..................................
ABW    1
OSS    1
MYS    1
NAC    1
NAM    1
      ..
GUY    1
HIC    1
HKG    1
HND    1
ZWE    1
Name: Country Code, Length: 265, dtype: int64
..................................
Electricity production from oil sources (% of total)    265
Name: Indicator Name, dtype: int64
..................................
EG.ELC.PETR.ZS    265
Name: Indicator Code, dtype: int64
..................................
                     234
5.52473308778964       1
8.27708703374778       1
10.1041905198076       1
6.67118024370719       1
2.43976822201891       1
0.105867085581586      1
6.80317064678099       1
0                      1
0.699656532247806      1
19.423589246791        1
5.7375494522981        1
0.819672131147541      1
17.0562770562771       1
6.67083407751384       1
4.53720508166969       1
5.48187444739169       1
6.70885453763122       1
26.3318777292576       1
15.0380546025889       1
3.5478756711387        1
9.08773968622894       1
4.840595496146         1
3.16428494681423       1
5.03845869802935       1
27.9241877256318       1
2.70858565753924       1
0.869565217391304      1
1.02874980597761       1
13.2325765575502       1
4.28053360963606       1
6.42257705904494       1
Name: 1960, dtype: int64
..................................
                     234
5.64663023679417       1
7.80471604118233       1
4.79322086766655       1
7.26143605882362       1
2.14168039538715       1
0.170595533498759      1
7.41957272330839       1
0                      1
0.656983766903338      1
19.9443940081707       1
5.64310072931659       1
2.74869109947644       1
19.9091597274792       1
16.1386056536517       1
3.98009950248756       1
21.4431308601712       1
7.31867515663123       1
26.5536723163842       1
15.4284089601343       1
4.44644734865555       1
6.1127029608405        1
6.18724053625086       1
5.38844716926909       1
7.40012579910341       1
29.6463506395786       1
3.69810424664582       1
0.853602569986232      1
1.30881651415933       1
15.2348867677335       1
5.4064085116912        1
6.23997295972046       1
Name: 1961, dtype: int64
..................................
                     234
3.181392317406         1
7.6123595505618        1
3.99762370355702       1
7.69059570839977       1
0.568181818181818      1
0.226218753534668      1
7.86622303696751       1
0                      1
0.330474466913211      1
22.8823682160478       1
5.26744449520996       1
5.68493150684932       1
22.2934472934473       1
23.9997521646866       1
4.02576489533011       1
30.5709023941068       1
7.76042086660844       1
35.609921848454        1
15.3461918892186       1
6.16953897698327       1
4.3646694214876        1
8.00810529944735       1
10.8709888670596       1
9.93157675768451       1
27.2786142140198       1
4.57270654398963       1
1.15334329473291       1
1.25117323679271       1
15.280706754061        1
8.31209453197405       1
5.79954780561836       1
Name: 1962, dtype: int64
..................................
                     234
2.92850361498576       1
7.33115741903088       1
6.65517665886988       1
8.09039085630489       1
0.805338242061666      1
0.381689721447714      1
8.28800156127582       1
0                      1
0.525407190572694      1
30.1229508196721       1
5.22017163726231       1
12.3985239852399       1
22.9418015877977       1
23.1746121138738       1
3.65853658536585       1
37.5257731958763       1
8.17784374740421       1
29.5406784749325       1
14.5405513957024       1
7.74766962930848       1
10.1564482029598       1
9.44004170007713       1
8.23647526740549       1
11.4178678462142       1
31.505016722408        1
6.28391868894636       1
1.19324413248519       1
1.2837712991155        1
19.6310865405061       1
10.5484286594589       1
5.72641840522747       1
Name: 1963, dtype: int64
..................................
                     234
3.83882206008019       1
7.14446191866996       1
5.05712143266728       1
9.81658988132762       1
0.933416303671437      1
0.773589554077359      1
10.0556520781715       1
0                      1
0.393452943028014      1
39.59521218716         1
5.36457418560618       1
12.9878869448183       1
31.9451413279813       1
33.8265553531409       1
3.67107195301028       1
43.275199527047        1
9.92543995476467       1
30.9661229611041       1
14.9428175075643       1
13.4229955135152       1
12.8341826734614       1
12.6846644088384       1
12.1553884711779       1
15.8468780428455       1
34.844228804903        1
7.74597079899239       1
1.45251396648045       1
1.66836363636364       1
24.7530533793976       1
11.9119420989144       1
5.85443675883637       1
Name: 1964, dtype: int64
..................................
                     233
45.4619344351124       1
9.16616192206743       1
5.36769199429619       1
10.2954200517708       1
2.05831903945112       1
0.632622299365094      1
10.5465233103205       1
0                      1
0.197780020181635      1
46.2015193922431       1
5.7507976989366        1
11.2155809267965       1
32.1092975960786       1
32.5568443228322       1
5.01474926253687       1
13.3488413706719       1
3.56235617584651       1
10.4068926554066       1
35.0205494267791       1
15.636800286145        1
11.3062816864245       1
11.889367816092        1
13.5796374734667       1
18.0620350523263       1
16.7685219370572       1
35.7106663288574       1
9.97637726384555       1
2.08102108768036       1
2.2010420983268        1
26.2119162039845       1
10.012813472451        1
6.22029039946696       1
Name: 1965, dtype: int64
..................................
                     233
50.561797752809        1
8.55701675373806       1
9.93204804045512       1
11.0234417730391       1
0.50170220390611       1
0.597613768345476      1
11.2911414101456       1
0                      1
0.34754875904649       1
46.596576841652        1
6.41626601642912       1
13.5811293781272       1
33.2967186409123       1
33.1316001431896       1
7.07964601769912       1
14.3748419188939       1
3.79141649988881       1
11.1443933033162       1
30.2859042553192       1
15.804003786696        1
9.32742548256974       1
14.4809775762157       1
14.4833773279926       1
13.580509036864        1
17.2373236885075       1
48.3281453961241       1
12.3175404538071       1
2.46112619442192       1
2.24265572103521       1
29.433062522077        1
7.8208016321673        1
6.97403115996792       1
Name: 1966, dtype: int64
..................................
                     233
53.8461538461538       1
24.6981162453711       1
8.27728438185129       1
12.0276927995977       1
2.90951900437269       1
0.730169266511782      1
12.3497422877456       1
2.00118714491648       1
0.189131493202502      1
38.840830449827        1
6.9206119109571        1
17.7098150782361       1
38.2293333333333       1
36.2388276865517       1
5.24079320113314       1
13.1224979983987       1
3.98479048377566       1
12.1563742565748       1
41.0278495549813       1
15.8772910362904       1
11.8628407165957       1
11.4140811455847       1
15.2719059799896       1
21.0961737331954       1
18.697493687676        1
38.3159140209032       1
11.8360516331604       1
3.12174817898023       1
3.21815698124812       1
33.8989489679625       1
8.93567639257294       1
7.41041052569326       1
Name: 1967, dtype: int64
..................................
                     233
47.0080197409007       1
19.4492502883506       1
13.2503113325031       1
13.0649131921855       1
5.3474223503042        1
0.832867624524526      1
13.3845324387236       1
1.46892655367232       1
0.162512644478716      1
36.9909872393587       1
7.53611863724493       1
16.9360505973296       1
42.6971869829013       1
40.0093013341601       1
5.21262002743484       1
14.6788293424553       1
4.37239595804799       1
13.1905262604284       1
45.798155604624        1
14.8389386255317       1
10.3288555761056       1
17.3376696198273       1
16.5674692076938       1
23.8305210538954       1
19.7041626737746       1
45.1089476124247       1
11.9456221152562       1
4.52459229842779       1
4.67637656991851       1
40.0831443688587       1
9.84821604573231       1
7.90565501562944       1
Name: 1968, dtype: int64
..................................
                     233
49.6866096866097       1
23.1691758101557       1
27.8512624435948       1
15.8057116053631       1
1.58984830805134       1
0.812262325705517      1
16.1786221299982       1
4.0554881746513        1
0.40448579959725       1
39.0453370665518       1
9.08104974556579       1
16.9444444444444       1
53.1139723414402       1
45.307995474948        1
5.14786418400876       1
17.7553486388514       1
4.86767382200101       1
15.944349175033        1
39.9569258671503       1
14.3425206283286       1
13.8849287169043       1
22.8539966965314       1
19.4781298119761       1
19.9707894534553       1
21.715467620729        1
61.0959527057753       1
12.9744003063592       1
5.75884211599225       1
4.52707958080891       1
47.3067032401852       1
11.3523310068253       1
9.66708588360609       1
Name: 1969, dtype: int64
..................................
                    233
53.7903643584873      1
30.1519192856315      1
30.9492375734372      1
18.3502965324298      1
14.5334767410594      1
2.18731080304888      1
18.8095752734095      1
3.31116355574626      1
0.63427127559001      1
32.603162171423       1
11.0843951337385      1
18.0545320560059      1
59.2446448703495      1
49.1905301469578      1
2.95698924731183      1
19.8597166827121      1
4.63943622040866      1
18.5296370528562      1
34.837067209776       1
18.5658874095817      1
21.9674163272534      1
27.5476331226411      1
20.9394398939514      1
27.2276788092997      1
22.9830910964677      1
68.6725928885338      1
12.2084004002967      1
6.03864734299517      1
3.05901332620566      1
52.0820364970678      1
7.02871072589382      1
12.123966448487       1
Name: 1970, dtype: int64
..................................
                    111
100                  12
0                     5
6.57226593651086      2
90.5450500556174      1
                   ...
48.7352445193929      1
22.2375578468783      1
24.7464284163747      1
36.9717429357339      1
5.01644736842105      1
Name: 1971, Length: 139, dtype: int64
..................................
                    111
100                  11
0                     5
3.89664887446597      2
7.34267233921109      2
                   ...
48.936170212766       1
17.3628800706766      1
26.1519511087191      1
35.8572671888599      1
1.81116389548694      1
Name: 1972, Length: 139, dtype: int64
..................................
                    110
100                  13
0                     6
3.77380156862149      2
9.52380952380952      2
                   ...
43.6548223350254      1
33.187946074544       1
28.8597102568717      1
36.392795460153       1
1.33610451306413      1
Name: 1973, Length: 137, dtype: int64
..................................
                     110
100                   13
0                      5
2.85954348753926       2
7.18195955460187       2
                    ...
36.0320195813977       1
25.980037934476        1
33.1805282689369       1
64.15770609319         1
0.994132985658409      1
Name: 1974, Length: 138, dtype: int64
..................................
                      110
100                    13
0                       5
0.0633066756243459      1
67.4107142857143        1
                     ...
39.6193771626298        1
37.472289215328         1
24.1324041543572        1
34.5605242868157        1
0.95881798176674        1
Name: 1975, Length: 140, dtype: int64
..................................
                     110
100                   12
0                      4
2.94195965194047       2
5.85647826669581       2
                    ...
36.9791666666667       1
48.248081124993        1
26.1693967032074       1
34.3801246310266       1
0.635974008018803      1
Name: 1976, Length: 140, dtype: int64
..................................
                     110
100                   12
0                      3
6.04592412698924       2
0.275428713789429      1
                    ...
29.1318279407481       1
20.8758228096787       1
36.052929521653        1
74.6017296313154       1
0.516157989228007      1
Name: 1977, Length: 142, dtype: int64
..................................
                     110
100                   11
0                      3
3.43564626617797       2
5.72854877544872       2
                    ...
29.3423408757936       1
22.436833224939        1
38.4818481848185       1
69.6353166986564       1
0.568462679189323      1
Name: 1978, Length: 142, dtype: int64
..................................
                     110
100                   11
0                      3
3.24992409891251       2
6.37388838268582       2
                    ...
25.3774963468095       1
21.8690833173058       1
43.2238805970149       1
76.814911706998        1
0.510997556098645      1
Name: 1979, Length: 142, dtype: int64
..................................
                     110
100                   11
2.86267558778159       2
0                      2
6.9225311691049        2
                    ...
29.7532656023222       1
35.1921703623679       1
22.3619751563026       1
27.7469771371244       1
0.462365591397849      1
Name: 1980, Length: 143, dtype: int64
..................................
                     109
100                   10
2.40946096135765       2
0                      2
6.35636000397907       2
                    ...
9.40089701008685       1
0.651041666666667      1
32.5567477450519       1
77.9266161910309       1
0.556052030582862      1
Name: 1981, Length: 145, dtype: int64
..................................
                     109
100                    8
2.47408474843429       2
0                      2
6.90277254648677       2
                    ...
0.563493660696317      1
30.3540735647989       1
68.7734668335419       1
13.5989135706713       1
0.477737435505446      1
Name: 1982, Length: 147, dtype: int64
..................................
                     109
100                    8
2.70557497939199       2
0                      2
7.4182540581552        2
                    ...
0.933125972006221      1
28.3492473835634       1
48.6072423398329       1
12.131146459081        1
0.527520652931223      1
Name: 1983, Length: 147, dtype: int64
..................................
                     109
100                    8
0                      2
7.61874046986178       2
72.7266113778554       1
                    ...
1.80131004366812       1
27.7334300919207       1
62.1231979030144       1
10.8185147726531       1
0.543757053452344      1
Name: 1984, Length: 148, dtype: int64
..................................
                     108
100                    8
2.37724264406607       2
0                      2
11.6363636363636       1
                    ...
1.02717031146455       1
25.8111031002163       1
61.2332112332112       1
8.79023922008785       1
0.496524329692155      1
Name: 1985, Length: 149, dtype: int64
..................................
                     108
100                    6
2.69802654283048       2
0                      2
6.83007175514361       2
                    ...
0.681508405270332      1
21.3874271085194       1
4.26632191338074       1
8.96125547273905       1
0.510725229826353      1
Name: 1986, Length: 150, dtype: int64
..................................
                     108
100                    6
0                      3
6.84532951244159       2
52.6491016589174       1
                    ...
21.7243900817656       1
13.7971014492754       1
8.55508148324303       1
4.89766697549061       1
0.739736160769326      1
Name: 1987, Length: 150, dtype: int64
..................................
                    108
100                   6
0                     4
2.6691742728545       2
6.5579856034099       2
                   ...
19.0428804052832      1
12.554347826087       1
9.1480354213357       1
1.76463668091447      1
0.52757793764988      1
Name: 1988, Length: 148, dtype: int64
..................................
                     108
100                    6
0                      5
2.22060170181632       2
6.43620011242271       1
                    ...
20.5144694533762       1
9.29456625357483       1
9.80538965297681       1
2.94214392748803       1
0.413349663196571      1
Name: 1989, Length: 148, dtype: int64
..................................
                     87
0                     8
100                   5
2.19836884743752      2
6.19332316023049      2
                     ..
29.167881084232       1
22.274622573688       1
8.37145471180238      1
8.38515841478511      1
0.287033570448022     1
Name: 1990, Length: 166, dtype: int64
..................................
                     86
0                    10
100                   5
2.08275815054905      2
6.12883090560012      2
                     ..
10.411198600175       1
8.35879883413325      1
3.55582104568177      1
1.44927536231884      1
0.254227920857743     1
Name: 1991, Length: 165, dtype: int64
..................................
                    85
0                   10
100                  6
2.39008341041205     2
43.713528869891      1
                    ..
21.9905977165883     1
37.2487872487872     1
8.28677407156985     1
4.20546022287793     1
0.30409001064315     1
Name: 1992, Length: 166, dtype: int64
..................................
                     85
0                     9
100                   6
2.40457875126234      2
7.00942025046566      2
                     ..
0.34848724853477      1
20.5495975037365      1
33.7273991655076      1
7.73390153379993      1
0.207367650646499     1
Name: 1993, Length: 166, dtype: int64
..................................
                     85
0                     8
100                   6
2.52839396702359      2
7.0108630441227       2
                     ..
0.458265139116203     1
19.8385379262524      1
34.7334410339257      1
7.67489904827585      1
0.368550368550369     1
Name: 1994, Length: 167, dtype: int64
..................................
                     84
0                     8
100                   6
3.04242376858868      2
7.10380315986878      2
                     ..
0.310660562459124     1
21.4533039540909      1
33.5600907029478      1
7.2294632568263       1
0.517415446744069     1
Name: 1995, Length: 168, dtype: int64
..................................
                      84
0                      9
100                    7
2.71114092480632       2
8.28665967226705       2
                      ..
6.17782106581327       1
0.0301795684321714     1
20.1221381245432       1
31.3556808068822       1
0.474528960223308      1
Name: 1996, Length: 166, dtype: int64
..................................
                     84
0                    10
100                   5
1.92286558204579      2
2.64797507788162      1
                     ..
3.05544418351567      1
5.47256736004467      1
0.508277664827186     1
19.1698235239767      1
0.390379045460269     1
Name: 1997, Length: 168, dtype: int64
..................................
                     84
0                    11
100                   5
1.86686341049848      2
7.91557020582448      2
                     ..
2.62020222721344      1
4.19762742797549      1
17.4924209614552      1
44.2773788150808      1
0.539260818098119     1
Name: 1998, Length: 166, dtype: int64
..................................
                     84
0                    11

In [30]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,,INDICATOR_CODE,INDICATOR_NAME,SOURCE_NOTE,SOURCE_ORGANIZATION,Region,IncomeGroup,SpecialNotes,TableName
0,Aruba,ABW,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,,,EG.ELC.PETR.ZS,Electricity production from oil sources (% of ...,Sources of electricity refer to the inputs use...,IEA Statistics © OECD/IEA 2014 (http://www.iea...,Latin America & Caribbean,High income,Fiscal year end: March 31; reporting period fo...,Aruba
1,Africa Eastern and Southern,AFE,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,3.33076647467845,,EG.ELC.PETR.ZS,Electricity production from oil sources (% of ...,Sources of electricity refer to the inputs use...,IEA Statistics © OECD/IEA 2014 (http://www.iea...,Europe & Central Asia,High income,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern
2,Afghanistan,AFG,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,,,EG.ELC.PETR.ZS,Electricity production from oil sources (% of ...,Sources of electricity refer to the inputs use...,IEA Statistics © OECD/IEA 2014 (http://www.iea...,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan
3,Africa Western and Central,AFW,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,7.82024821265885,,EG.ELC.PETR.ZS,Electricity production from oil sources (% of ...,Sources of electricity refer to the inputs use...,IEA Statistics © OECD/IEA 2014 (http://www.iea...,Europe & Central Asia,High income,"22 countries, stretching from the westernmost ...",Africa Western and Central
4,Angola,AGO,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,46.8250716919295,,EG.ELC.PETR.ZS,Electricity production from oil sources (% of ...,Sources of electricity refer to the inputs use...,IEA Statistics © OECD/IEA 2014 (http://www.iea...,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Kosovo,XKX,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,0.245138094459879,,EG.ELC.PETR.ZS,Electricity production from oil sources (% of ...,Sources of electricity refer to the inputs use...,IEA Statistics © OECD/IEA 2014 (http://www.iea...,Europe & Central Asia,Upper middle income,Fiscal year end: March 31; reporting period fo...,Kosovo
261,"Yemen, Rep.",YEM,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,60.1952684941795,,EG.ELC.PETR.ZS,Electricity production from oil sources (% of ...,Sources of electricity refer to the inputs use...,IEA Statistics © OECD/IEA 2014 (http://www.iea...,Middle East & North Africa,Low income,The World Bank systematically assesses the app...,"Yemen, Rep."
262,South Africa,ZAF,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,0.074168341871474,,EG.ELC.PETR.ZS,Electricity production from oil sources (% of ...,Sources of electricity refer to the inputs use...,IEA Statistics © OECD/IEA 2014 (http://www.iea...,Sub-Saharan Africa,Upper middle income,Fiscal year end: March 31; reporting period fo...,South Africa
263,Zambia,ZMB,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,3.00617605476598,,EG.ELC.PETR.ZS,Electricity production from oil sources (% of ...,Sources of electricity refer to the inputs use...,IEA Statistics © OECD/IEA 2014 (http://www.iea...,Sub-Saharan Africa,Low income,National accounts data were rebased to reflect...,Zambia
264,Zimbabwe,ZWE,Electricity production from oil sources (% of ...,EG.ELC.PETR.ZS,,,,,,,...,0.494386651560408,,EG.ELC.PETR.ZS,Electricity production from oil sources (% of ...,Sources of electricity refer to the inputs use...,IEA Statistics © OECD/IEA 2014 (http://www.iea...,Sub-Saharan Africa,Lower middle income,National Accounts data are reported in Zimbabw...,Zimbabwe

In [31]:
df.to_csv('C:\\Users\\USER\\Desktop\\World_Electric_analysis\\ele_pro_oil_souc.csv')