In [1]:
import json

In [3]:
with open('C:\\Users\\USER\\Desktop\\World_Electric_analysis\\Row_data\\API_EG.ELC.RNWX.KH_DS2_en_csv_v2_4356007.json') as j:
    contents=json.loads(j.read())

In [4]:
type(contents)

list

In [5]:
import pandas as pd

In [6]:
df1=pd.DataFrame(contents)

In [7]:
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,57,58,59,60,61,62,63,64,65,66
0,Last Updated Date,2022-07-20,,,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
1,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2.013000e+03,2.014000e+03,2.015000e+03,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,
2,Aruba,ABW,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,Africa Eastern and Southern,AFE,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,NaN,NaN,NaN,NaN,NaN,NaN,...,3.669000e+09,7.687000e+09,1.092600e+10,NaN,NaN,NaN,NaN,NaN,NaN,
4,Afghanistan,AFG,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,

In [8]:
df1.drop(index=0,inplace=True)

In [9]:
df2=df1.rename(columns=df1.iloc[0])
df2.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,
1,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2.013000e+03,2.014000e+03,2.015000e+03,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,
2,Aruba,ABW,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,Africa Eastern and Southern,AFE,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,NaN,NaN,NaN,NaN,NaN,NaN,...,3.669000e+09,7.687000e+09,1.092600e+10,NaN,NaN,NaN,NaN,NaN,NaN,
4,Afghanistan,AFG,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
5,Africa Western and Central,AFW,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,NaN,NaN,NaN,NaN,NaN,NaN,...,2.220000e+08,2.330000e+08,2.800000e+08,NaN,NaN,NaN,NaN,NaN,NaN,

In [10]:
df2.drop(index=1,inplace=True)

In [11]:
df2.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,
2,Aruba,ABW,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,Africa Eastern and Southern,AFE,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,NaN,NaN,NaN,NaN,NaN,NaN,...,3.669000e+09,7.687000e+09,1.092600e+10,NaN,NaN,NaN,NaN,NaN,NaN,
4,Afghanistan,AFG,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
5,Africa Western and Central,AFW,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,NaN,NaN,NaN,NaN,NaN,NaN,...,2.220000e+08,2.330000e+08,2.800000e+08,NaN,NaN,NaN,NaN,NaN,NaN,
6,Angola,AGO,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,NaN,NaN,NaN,NaN,NaN,NaN,...,0.000000e+00,0.000000e+00,0.000000e+00,NaN,NaN,NaN,NaN,NaN,NaN,

In [12]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 2 to 267
Data columns (total 67 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960.0          46 non-null     float64
 5   1961.0          46 non-null     float64
 6   1962.0          46 non-null     float64
 7   1963.0          46 non-null     float64
 8   1964.0          46 non-null     float64
 9   1965.0          47 non-null     float64
 10  1966.0          47 non-null     float64
 11  1967.0          47 non-null     float64
 12  1968.0          47 non-null     float64
 13  1969.0          47 non-null     float64
 14  1970.0          47 non-null     float64
 15  1971.0          159 non-null    float64
 16  1972.0          159 non-null    float64
 17  1973.0          159 non-null    float64
 18  1974.0          159 non-null    float64
 19  1975.0          159 non-null    float64
 20  1976.0          159 non-null    float64
 21  1977.0          159 non-null    float64
 22  1978.0          159 non-null    float64
 23  1979.0          159 non-null    float64
 24  1980.0          159 non-null    float64
 25  1981.0          160 non-null    float64
 26  1982.0          160 non-null    float64
 27  1983.0          160 non-null    float64
 28  1984.0          160 non-null    float64
 29  1985.0          161 non-null    float64
 30  1986.0          161 non-null    float64
 31  1987.0          161 non-null    float64
 32  1988.0          161 non-null    float64
 33  1989.0          161 non-null    float64
 34  1990.0          180 non-null    float64
 35  1991.0          181 non-null    float64
 36  1992.0          182 non-null    float64
 37  1993.0          182 non-null    float64
 38  1994.0          182 non-null    float64
 39  1995.0          183 non-null    float64
 40  1996.0          183 non-null    float64
 41  1997.0          183 non-null    float64
 42  1998.0          183 non-null    float64
 43  1999.0          183 non-null    float64
 44  2000.0          186 non-null    float64
 45  2001.0          186 non-null    float64
 46  2002.0          186 non-null    float64
 47  2003.0          186 non-null    float64
 48  2004.0          186 non-null    float64
 49  2005.0          187 non-null    float64
 50  2006.0          187 non-null    float64
 51  2007.0          187 non-null    float64
 52  2008.0          187 non-null    float64
 53  2009.0          187 non-null    float64
 54  2010.0          187 non-null    float64
 55  2011.0          187 non-null    float64
 56  2012.0          188 non-null    float64
 57  2013.0          188 non-null    float64
 58  2014.0          188 non-null    float64
 59  2015.0          188 non-null    float64
 60  2016.0          0 non-null      float64
 61  2017.0          0 non-null      float64
 62  2018.0          0 non-null      float64
 63  2019.0          0 non-null      float64
 64  2020.0          0 non-null      float64
 65  2021.0          0 non-null      float64
 66                  266 non-null    object
dtypes: float64(62), object(5)
memory usage: 139.4+ KB

In [13]:
df2.columns

Index([  'Country Name',   'Country Code', 'Indicator Name', 'Indicator Code',
                 1960.0,           1961.0,           1962.0,           1963.0,
                 1964.0,           1965.0,           1966.0,           1967.0,
                 1968.0,           1969.0,           1970.0,           1971.0,
                 1972.0,           1973.0,           1974.0,           1975.0,
                 1976.0,           1977.0,           1978.0,           1979.0,
                 1980.0,           1981.0,           1982.0,           1983.0,
                 1984.0,           1985.0,           1986.0,           1987.0,
                 1988.0,           1989.0,           1990.0,           1991.0,
                 1992.0,           1993.0,           1994.0,           1995.0,
                 1996.0,           1997.0,           1998.0,           1999.0,
                 2000.0,           2001.0,           2002.0,           2003.0,
                 2004.0,           2005.0,           2006.0,           2007.0,
                 2008.0,           2009.0,           2010.0,           2011.0,
                 2012.0,           2013.0,           2014.0,           2015.0,
                 2016.0,           2017.0,           2018.0,           2019.0,
                 2020.0,           2021.0,               ''],
      dtype='object')

In [14]:
df3=df2.drop(columns=[1960.0,           1961.0,           1962.0,           1963.0,
                 1964.0,           1965.0,           1966.0,           1967.0,
                 1968.0,           1969.0,           1970.0,2016.0,           2017.0,           2018.0,           2019.0,
                 2020.0,           2021.0])

In [15]:
df3.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,...,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,
2,Aruba,ABW,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
3,Africa Eastern and Southern,AFE,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,126000000.0,127000000.0,132000000.0,136000000.0,133000000.0,146000000.0,...,1.972000e+09,2.188000e+09,2.463000e+09,2.692000e+09,2.762000e+09,3.058000e+09,3.669000e+09,7.687000e+09,1.092600e+10,
4,Afghanistan,AFG,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,
5,Africa Western and Central,AFW,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,37000000.0,38000000.0,38000000.0,39000000.0,39000000.0,39000000.0,...,2.540000e+08,2.540000e+08,2.130000e+08,2.220000e+08,2.190000e+08,1.960000e+08,2.220000e+08,2.330000e+08,2.800000e+08,
6,Angola,AGO,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,

In [16]:
df3.isna().sum()

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1971.0            107
1972.0            107
1973.0            107
1974.0            107
1975.0            107
1976.0            107
1977.0            107
1978.0            107
1979.0            107
1980.0            107
1981.0            106
1982.0            106
1983.0            106
1984.0            106
1985.0            105
1986.0            105
1987.0            105
1988.0            105
1989.0            105
1990.0             86
1991.0             85
1992.0             84
1993.0             84
1994.0             84
1995.0             83
1996.0             83
1997.0             83
1998.0             83
1999.0             83
2000.0             80
2001.0             80
2002.0             80
2003.0             80
2004.0             80
2005.0             79
2006.0             79
2007.0             79
2008.0             79
2009.0             79
2010.0             79
2011.0             79
2012.0             78
2013.0             78
2014.0             78
2015.0             78
                    0
dtype: int64

In [115]:
df3.dropna(inplace=True)

In [116]:
df3.isna().sum()

Country Name      0
Country Code      0
Indicator Name    0
Indicator Code    0
1960.0            0
                 ..
2012.0            0
2013.0            0
2014.0            0
2015.0            0
                  0
Length: 61, dtype: int64

In [117]:
df3

,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2007.0,2008.0,2009.0,2010.0,2011.0,2012.0,2013.0,2014.0,2015.0,
15,Australia,AUS,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,303000000.0,303000000.0,295000000.0,301000000.0,289000000.0,296000000.0,...,6.674000e+09,7.817000e+09,6.800000e+09,8.256000e+09,9.718000e+09,1.257300e+10,1.493900e+10,1.862200e+10,2.104400e+10,
16,Austria,AUT,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,0.0,0.0,0.0,0.0,0.0,0.0,...,6.236000e+09,6.344000e+09,6.281000e+09,6.617000e+09,6.627000e+09,7.404000e+09,8.322000e+09,8.934000e+09,1.018700e+10,
19,Belgium,BEL,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,0.0,0.0,0.0,0.0,0.0,0.0,...,3.097000e+09,4.008000e+09,5.111000e+09,6.182000e+09,8.181000e+09,1.010100e+10,1.129500e+10,1.192100e+10,1.414800e+10,
37,Canada,CAN,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,0.0,0.0,0.0,0.0,0.0,0.0,...,1.144500e+10,1.097400e+10,1.451300e+10,1.939800e+10,2.098600e+10,2.232900e+10,2.933700e+10,3.721100e+10,4.203700e+10,
38,Central Europe and the Baltics,CEB,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,10000000.0,11000000.0,18000000.0,14000000.0,16000000.0,26000000.0,...,7.175000e+09,9.821000e+09,1.314400e+10,1.765200e+10,2.494800e+10,3.299500e+10,3.727500e+10,4.562000e+10,5.169100e+10,

import csv files

In [118]:
df4=pd.read_csv('C:\\Users\\USER\\Downloads\\Metadata_Country_API_EG.ELC.RNWX.KH_DS2_en_csv_v2_4356007.csv')

In [119]:
df4.isna().sum()

Country Code      0
Region           48
IncomeGroup      49
SpecialNotes    139
TableName         0
Unnamed: 5      265
dtype: int64

In [120]:
df4.head()

,Country Code,Region,IncomeGroup,SpecialNotes,TableName,Unnamed: 5
0,ABW,Latin America & Caribbean,High income,NaN,Aruba,NaN
1,AFE,NaN,NaN,"26 countries, stretching from the Red Sea in t...",Africa Eastern and Southern,NaN
2,AFG,South Asia,Low income,The reporting period for national accounts dat...,Afghanistan,NaN
3,AFW,NaN,NaN,"22 countries, stretching from the westernmost ...",Africa Western and Central,NaN
4,AGO,Sub-Saharan Africa,Lower middle income,The World Bank systematically assesses the app...,Angola,NaN

In [121]:
df4.drop(columns='Unnamed: 5',inplace=True)

In [122]:
df4['SpecialNotes'].fillna(df4['SpecialNotes'].mode()[0],inplace=True)

In [123]:
df4['IncomeGroup'].fillna(df4['IncomeGroup'].mode()[0],inplace=True)

In [124]:
df4['Region'].fillna(df4['Region'].mode()[0],inplace=True)

In [125]:
for i in df4.columns:
    print(df4[i].value_counts())
    print('....................')

ABW    1
OSS    1
MYS    1
NAC    1
NAM    1
      ..
GUY    1
HIC    1
HKG    1
HND    1
ZWE    1
Name: Country Code, Length: 265, dtype: int64
....................
Europe & Central Asia         106
Sub-Saharan Africa             48
Latin America & Caribbean      42
East Asia & Pacific            37
Middle East & North Africa     21
South Asia                      8
North America                   3
Name: Region, dtype: int64
....................
High income            129
Lower middle income     54
Upper middle income     54
Low income              28
Name: IncomeGroup, dtype: int64
....................
Fiscal year end: March 31; reporting period for national accounts data: CY.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            146
The reporting period for national accounts data is designated as either calendar year basis (CY) or fiscal year basis (FY). For this country, it is fiscal year-based (fiscal year-end: June 30). Also, an estimate (PA.NUS.ATLS) of the exchange rate covers the same period and thus differs from the official exchange rate (CY).                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     7
Fiscal year end: June 30; reporting period for national accounts data: CY.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               2
Fiscal year ends on September 30; reporting period for national accounts data: FY.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       2
National accounts data are provided in the US dollar.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    2
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      ...
The DEC conversion is not reported when national accounts data are unavailable.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
The World Bank systematically assesses the appropriateness of official exchange rates as conversion factors. In this country, multiple or dual exchange rate activity exists and must be accounted for appropriately in underlying statistics. An alternative estimate (“alternative conversion factor” - PA.NUS.ATLS) is thus calculated as a weighted average of the different exchange rates in use in the country. Doing so better reflects economic reality and leads to more accurate cross-country comparisons and country classifications by income level. For this country, this applies to the period 1974-1987. Alternative conversion factors are used in the Atlas methodology and elsewhere in World Development Indicators as single-year conversion factors.                                                                                                                             1
Includes self-governed areas only, which mostly exclude Abkhazia and South Ossetia, but small areas in Abkhazia and South Ossetia are included before 2008 or 2009 because of the changes in self-governed areas.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        1
Fiscal year ends on September 30; reporting period for national accounts data: FY. The source for national accounts data is the Pacific and Virgin Islands Training Initiative.                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
National Accounts data are reported in Zimbabwean Dollar (ZWL). Before 2017, one ZWL is set to be equal to one USD.\n\nThe World Bank systematically assesses the appropriateness of official exchange rates as conversion factors. In this country, multiple or dual exchange rate activity exists and must be accounted for appropriately in underlying statistics. An alternative estimate (“alternative conversion factor” - PA.NUS.ATLS) is thus calculated as a weighted average of the different exchange rates in use in the country. Doing so better reflects economic reality and leads to more accurate cross-country comparisons and country classifications by income level. For this country, this applies to the period 2017-2020. Alternative conversion factors are used in the Atlas methodology and elsewhere in World Development Indicators as single-year conversion factors.      1
Name: SpecialNotes, Length: 111, dtype: int64
....................
Aruba                   1
Other small states      1
Malaysia                1
North America           1
Namibia                 1
                       ..
Guyana                  1
High income             1
Hong Kong SAR, China    1
Honduras                1
Zimbabwe                1
Name: TableName, Length: 265, dtype: int64
....................

In [126]:
df4.isna().sum()

Country Code    0
Region          0
IncomeGroup     0
SpecialNotes    0
TableName       0
dtype: int64

In [127]:
df5=pd.read_csv('C:\\Users\\USER\\Downloads\\Metadata_Indicator_API_EG.ELC.RNWX.KH_DS2_en_csv_v2_4356007.csv')

In [128]:
df5.head()

,INDICATOR_CODE,INDICATOR_NAME,SOURCE_NOTE,SOURCE_ORGANIZATION,Unnamed: 4
0,EG.ELC.RNWX.KH,"Electricity production from renewable sources,...","Electricity production from renewable sources,...",IEA Statistics © OECD/IEA 2014 (http://www.iea...,NaN

In [129]:
df5.drop(columns='Unnamed: 4',inplace=True)

In [130]:
df6=df3.merge(df5,left_on='Indicator Code',right_on='INDICATOR_CODE')

In [131]:
df=df6.merge(df4,left_on='Country Code',right_on='Country Code')

In [132]:
df.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,...,2015.0,,INDICATOR_CODE,INDICATOR_NAME,SOURCE_NOTE,SOURCE_ORGANIZATION,Region,IncomeGroup,SpecialNotes,TableName
0,Australia,AUS,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,303000000.0,303000000.0,295000000.0,301000000.0,289000000.0,296000000.0,...,2.104400e+10,,EG.ELC.RNWX.KH,"Electricity production from renewable sources,...","Electricity production from renewable sources,...",IEA Statistics © OECD/IEA 2014 (http://www.iea...,East Asia & Pacific,High income,The reporting period for national accounts dat...,Australia
1,Austria,AUT,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,0.0,0.0,0.0,0.0,0.0,0.0,...,1.018700e+10,,EG.ELC.RNWX.KH,"Electricity production from renewable sources,...","Electricity production from renewable sources,...",IEA Statistics © OECD/IEA 2014 (http://www.iea...,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Austria
2,Belgium,BEL,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,0.0,0.0,0.0,0.0,0.0,0.0,...,1.414800e+10,,EG.ELC.RNWX.KH,"Electricity production from renewable sources,...","Electricity production from renewable sources,...",IEA Statistics © OECD/IEA 2014 (http://www.iea...,Europe & Central Asia,High income,A simple multiplier is used to convert the nat...,Belgium
3,Canada,CAN,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,0.0,0.0,0.0,0.0,0.0,0.0,...,4.203700e+10,,EG.ELC.RNWX.KH,"Electricity production from renewable sources,...","Electricity production from renewable sources,...",IEA Statistics © OECD/IEA 2014 (http://www.iea...,North America,High income,Fiscal year end: March 31; reporting period fo...,Canada
4,Central Europe and the Baltics,CEB,"Electricity production from renewable sources,...",EG.ELC.RNWX.KH,10000000.0,11000000.0,18000000.0,14000000.0,16000000.0,26000000.0,...,5.169100e+10,,EG.ELC.RNWX.KH,"Electricity production from renewable sources,...","Electricity production from renewable sources,...",IEA Statistics © OECD/IEA 2014 (http://www.iea...,Europe & Central Asia,High income,Central Europe and the Baltics aggregate.,Central Europe and the Baltics

In [133]:
df.isna().sum()

Country Name           0
Country Code           0
Indicator Name         0
Indicator Code         0
1960.0                 0
                      ..
SOURCE_ORGANIZATION    0
Region                 0
IncomeGroup            0
SpecialNotes           0
TableName              0
Length: 69, dtype: int64

In [134]:
for i in df.columns:
    print(df[i].value_counts())
    print('..................................')

Australia                                        1
OECD members                                     1
Japan                                            1
Low & middle income                              1
Late-demographic dividend                        1
Luxembourg                                       1
Middle income                                    1
North America                                    1
Netherlands                                      1
Norway                                           1
New Zealand                                      1
Other small states                               1
Austria                                          1
Poland                                           1
Portugal                                         1
Post-demographic dividend                        1
Small states                                     1
Sweden                                           1
Europe & Central Asia (IDA & IBRD countries)     1
Turkiye                                          1
Upper middle income                              1
United States                                    1
Italy                                            1
Iceland                                          1
Ireland                                          1
IDA & IBRD total                                 1
Belgium                                          1
Canada                                           1
Central Europe and the Baltics                   1
Switzerland                                      1
Germany                                          1
Denmark                                          1
Early-demographic dividend                       1
East Asia & Pacific                              1
Europe & Central Asia (excluding high income)    1
Europe & Central Asia                            1
Euro area                                        1
Spain                                            1
European Union                                   1
Finland                                          1
France                                           1
United Kingdom                                   1
Greece                                           1
High income                                      1
IBRD only                                        1
World                                            1
Name: Country Name, dtype: int64
..................................
AUS    1
OED    1
JPN    1
LMY    1
LTE    1
LUX    1
MIC    1
NAC    1
NLD    1
NOR    1
NZL    1
OSS    1
AUT    1
POL    1
PRT    1
PST    1
SST    1
SWE    1
TEC    1
TUR    1
UMC    1
USA    1
ITA    1
ISL    1
IRL    1
IBT    1
BEL    1
CAN    1
CEB    1
CHE    1
DEU    1
DNK    1
EAR    1
EAS    1
ECA    1
ECS    1
EMU    1
ESP    1
EUU    1
FIN    1
FRA    1
GBR    1
GRC    1
HIC    1
IBD    1
WLD    1
Name: Country Code, dtype: int64
..................................
Electricity production from renewable sources, excluding hydroelectric (kWh)    46
Name: Indicator Name, dtype: int64
..................................
EG.ELC.RNWX.KH    46
Name: Indicator Code, dtype: int64
..................................
0.000000e+00    20
4.100000e+07     6
1.000000e+07     3
5.100000e+07     3
1.220000e+08     2
3.040000e+09     2
3.030000e+08     1
7.100000e+08     1
2.208000e+09     1
2.157000e+09     1
2.167000e+09     1
2.999000e+09     1
2.112000e+09     1
4.070000e+08     1
4.500000e+07     1
2.989000e+09     1
Name: 1960.0, dtype: int64
..................................
0.000000e+00    20
4.400000e+07     6
1.100000e+07     3
5.500000e+07     3
1.810000e+08     2
3.428000e+09     2
3.030000e+08     1
8.270000e+08     1
2.420000e+09     1
2.365000e+09     1
2.376000e+09     1
3.384000e+09     1
2.311000e+09     1
5.240000e+08     1
5.400000e+07     1
3.373000e+09     1
Name: 1961.0, dtype: int64
..................................
0.000000e+00    20
4.500000e+07     6
1.800000e+07     3
6.300000e+07     3
2.060000e+08     2
3.797000e+09     2
2.950000e+08     1
1.108000e+09     1
2.483000e+09     1
2.420000e+09     1
2.438000e+09     1
3.752000e+09     1
2.362000e+09     1
8.130000e+08     1
5.800000e+07     1
3.734000e+09     1
Name: 1962.0, dtype: int64
..................................
0.000000e+00    20
6.300000e+07     6
1.400000e+07     3
7.700000e+07     3
2.860000e+08     2
4.362000e+09     2
3.010000e+08     1
1.371000e+09     1
2.705000e+09     1
2.628000e+09     1
2.642000e+09     1
4.299000e+09     1
2.553000e+09     1
1.070000e+09     1
7.500000e+07     1
4.285000e+09     1
Name: 1963.0, dtype: int64
..................................
0.000000e+00    20
9.700000e+07     6
1.600000e+07     3
1.130000e+08     3
3.200000e+08     2
4.653000e+09     2
2.890000e+08     1
1.562000e+09     1
2.771000e+09     1
2.658000e+09     1
2.674000e+09     1
4.556000e+09     1
2.638000e+09     1
1.273000e+09     1
2.000000e+07     1
4.540000e+09     1
Name: 1964.0, dtype: int64
..................................
0.000000e+00    20
1.000000e+08     6
2.600000e+07     3
1.260000e+08     3
3.450000e+08     2
4.998000e+09     2
2.960000e+08     1
1.644000e+09     1
3.009000e+09     1
2.883000e+09     1
2.909000e+09     1
4.898000e+09     1
2.676000e+09     1
1.348000e+09     1
2.070000e+08     1
4.872000e+09     1
Name: 1965.0, dtype: int64
..................................
0.000000e+00    19
1.220000e+08     6
1.600000e+08     3
3.800000e+07     3
6.127000e+09     2
3.830000e+08     2
2.840000e+08     1
2.000000e+08     1
1.359000e+09     1
3.351000e+09     1
3.900000e+08     1
6.005000e+09     1
3.979000e+09     1
3.941000e+09     1
4.101000e+09     1
1.643000e+09     1
5.967000e+09     1
Name: 1966.0, dtype: int64
..................................
0.000000e+00    19
1.730000e+08     6
2.170000e+08     3
4.400000e+07     3
6.387000e+09     2
4.740000e+08     2
2.900000e+08     1
1.920000e+08     1
1.134000e+09     1
3.475000e+09     1
6.050000e+08     1
6.214000e+09     1
4.316000e+09     1
4.272000e+09     1
4.489000e+09     1
1.424000e+09     1
6.170000e+09     1
Name: 1967.0, dtype: int64
..................................
0.000000e+00    19
1.790000e+08     6
2.260000e+08     3
4.700000e+07     3
7.203000e+09     2
6.290000e+08     2
2.820000e+08     1
2.280000e+08     1
1.295000e+09     1
3.617000e+09     1
9.260000e+08     1
7.024000e+09     1
4.818000e+09     1
4.771000e+09     1
4.997000e+09     1
1.577000e+09     1
6.977000e+09     1
Name: 1968.0, dtype: int64
..................................
0.000000e+00    16
1.780000e+08     6
2.620000e+08     3
2.000000e+06     3
8.400000e+07     2
7.830000e+09     2
7.990000e+08     2
2.810000e+08     1
3.812000e+09     1
2.800000e+08     1
1.327000e+09     1
8.600000e+07     1
7.652000e+09     1
1.067000e+09     1
5.243000e+09     1
5.159000e+09     1
5.423000e+09     1
1.608000e+09     1
7.566000e+09     1
Name: 1969.0, dtype: int64
..................................
0.000000e+00    12
1.660000e+08     6
2.250000e+08     3
1.300000e+07     3
5.900000e+07     2
1.062700e+10     2
8.170000e+08     2
2.610000e+08     1
1.038900e+10     1
1.860000e+08     1
1.273000e+09     1
7.200000e+07     1
4.228000e+09     1
7.230000e+08     1
1.046100e+10     1
1.800000e+08     1
8.097000e+09     1
4.700000e+07     1
7.908000e+09     1
8.276000e+09     1
1.534000e+09     1
2.544000e+09     1
1.300000e+08     1
Name: 1970.0, dtype: int64
..................................
0.000000e+00    12
2.630000e+08     2
1.010000e+08     2
1.620000e+08     2
8.440000e+08     2
2.329000e+09     2
4.209000e+09     1
2.161000e+09     1
1.600000e+08     1
1.760000e+08     1
1.146000e+10     1
1.430000e+08     1
3.800000e+07     1
1.099500e+10     1
1.256000e+09     1
9.800000e+08     1
1.725000e+09     1
1.300000e+07     1
2.330000e+08     1
1.565000e+09     1
1.086900e+10     1
7.150000e+08     1
8.381000e+09     1
5.200000e+07     1
8.120000e+09     1
8.556000e+09     1
1.519000e+09     1
6.200000e+08     1
2.768000e+09     1
1.319800e+10     1
Name: 1971.0, dtype: int64
..................................
0.000000e+00    12
2.310000e+09     2
1.850000e+08     2
1.838000e+09     2
1.750000e+08     2
1.130000e+08     1
1.179000e+09     1
1.257000e+09     1
1.188000e+10     1
4.500000e+07     1
2.800000e+08     1
1.207900e+10     1
3.807000e+09     1
2.260000e+08     1
3.600000e+08     1
2.134000e+09     1
2.090000e+08     1
1.954000e+09     1
2.200000e+07     1
2.110000e+08     1
1.790000e+09     1
1.174500e+10     1
8.240000e+08     1
8.244000e+09     1
6.100000e+07     1
7.833000e+09     1
8.441000e+09     1
1.537000e+09     1
6.550000e+08     1
2.817000e+09     1
1.405500e+10     1
Name: 1972.0, dtype: int64
..................................
0.000000e+00    10
2.686000e+09     2
2.230000e+08     2
2.748000e+09     2
1.970000e+08     2
3.380000e+08     1
5.000000e+07     1
1.324000e+09     1
1.243000e+09     1
1.379400e+10     1
1.384800e+10     1
2.000000e+08     1
3.845000e+09     1
2.840000e+08     1
3.990000e+08     1
4.200000e+08     1
2.508000e+09     1
2.690000e+08     1
2.281000e+09     1
2.600000e+07     1
2.020000e+08     1
2.115000e+09     1
1.346900e+10     1
8.010000e+08     1
8.754000e+09     1
5.600000e+07     1
8.132000e+09     1
8.977000e+09     1
1.850000e+09     1
8.370000e+08     1
2.912000e+09     1
1.160000e+08     1
1.615500e+10     1
Name: 1973.0, dtype: int64
..................................
0.000000e+00    10
3.095000e+09     2
2.350000e+08     2
2.864000e+09     2
2.070000e+08     2
4.290000e+08     1
3.200000e+07     1
1.333000e+09     1
1.582000e+09     1
1.292000e+10     1
1.269000e+10     1
1.800000e+08     1
4.245000e+09     1
2.490000e+08     1
3.570000e+08     1
4.420000e+08     1
2.908000e+09     1
1.000000e+08     1
2.684000e+09     1
8.000000e+06     1
2.130000e+08     1
2.509000e+09     1
1.228700e+10     1
7.790000e+08     1
7.214000e+09     1
5.100000e+07     1
6.622000e+09     1
7.429000e+09     1
2.111000e+09     1
1.208000e+09     1
1.046000e+09     1
1.080000e+08     1
1.538200e+10     1
Name: 1974.0, dtype: int64
..................................
0.000000e+00    9
3.639000e+09    2
2.110000e+08    2
3.626000e+09    2
2.200000e+08    2
3.500000e+07    1
1.593000e+09    1
8.030000e+08    1
1.605000e+09    1
1.458900e+10    1
4.890000e+08    1
2.360000e+08    1
1.000000e+08    1
2.590000e+08    1
3.100000e+08    1
4.310000e+08    1
3.277000e+09    1
1.413000e+10    1
1.800000e+07    1
3.986000e+09    1
2.180000e+08    1
3.187000e+09    1
3.006000e+09    1
1.369600e+10    1
7.020000e+08    1
7.765000e+09    1
1.130000e+08    1
7.244000e+09    1
8.003000e+09    1
2.194000e+09    1
1.457000e+09    1
1.103000e+09    1
8.300000e+07    1
1.733500e+10    1
Name: 1975.0, dtype: int64
..................................
0.000000e+00    8
1.610000e+08    2
1.830000e+08    2
4.131000e+09    2
3.392000e+09    1
4.097000e+09    1
3.440000e+08    1
3.540000e+08    1
3.350000e+08    1
2.000000e+08    1
1.544700e+10    1
2.300000e+08    1
4.400000e+07    1
1.589900e+10    1
1.573000e+09    1
8.720000e+08    1
4.804000e+09    1
1.675000e+09    1
4.840000e+08    1
1.900000e+07    1
3.812000e+09    1
2.540000e+08    1
3.653000e+09    1
3.465000e+09    1
1.498800e+10    1
5.960000e+08    1
7.796000e+09    1
1.870000e+08    1
7.259000e+09    1
7.976000e+09    1
2.257000e+09    1
1.837000e+09    1
1.251000e+09    1
7.070000e+08    1
5.700000e+07    1
1.911900e+10    1
Name: 1976.0, dtype: int64
..................................
0.000000e+00    7
4.518000e+09    2
2.650000e+08    2
2.180000e+08    2
4.000000e+07    1
2.041000e+09    1
1.300000e+07    1
5.355000e+09    1
8.670000e+08    1
1.498000e+09    1
1.682600e+10    1
4.290000e+08    1
2.340000e+08    1
3.000000e+08    1
3.660000e+08    1
3.600000e+08    1
4.830000e+08    1
3.786000e+09    1
4.286000e+09    1
1.628900e+10    1
1.600000e+07    1
3.730000e+09    1
2.730000e+08    1
4.074000e+09    1
3.882000e+09    1
1.586100e+10    1
6.170000e+08    1
8.136000e+09    1
3.090000e+08    1
7.511000e+09    1
8.370000e+09    1
2.227000e+09    1
1.884000e+09    1
1.221000e+09    1
1.069000e+09    1
2.470000e+08    1
2.037900e+10    1
Name: 1977.0, dtype: int64
..................................
0.000000e+00    5
1.370000e+08    2
4.851000e+09    2
2.620000e+08    2
4.500000e+07    1
2.318000e+09    1
1.500000e+07    1
4.630000e+09    1
1.211000e+09    1
1.528000e+09    1
1.694900e+10    1
4.050000e+08    1
3.811000e+09    1
2.320000e+08    1
1.658300e+10    1
4.090000e+08    1
2.760000e+08    1
3.990000e+08    1
4.033000e+09    1
3.498000e+09    1
6.000000e+08    1
4.302000e+09    1
2.000000e+07    1
2.536000e+09    1
2.600000e+08    1
1.132000e+09    1
9.800000e+07    1
1.265000e+09    1
3.000000e+06    1
1.834000e+09    1
8.883000e+09    1
3.020000e+08    1
8.087000e+09    1
3.160000e+08    1
8.628000e+09    1
6.750000e+08    1
1.605400e+10    1
4.104000e+09    1
2.090500e+10    1
Name: 1978.0, dtype: int64
..................................
0.000000e+00    5
1.450000e+08    2
6.195000e+09    2
2.400000e+08    2
7.500000e+07    1
2.726000e+09    1
1.600000e+07    1
5.973000e+09    1
1.106000e+09    1
1.400000e+09    1
1.923500e+10    1
4.180000e+08    1
3.825000e+09    1
2.580000e+08    1
1.842100e+10    1
3.830000e+08    1
3.470000e+08    1
3.850000e+08    1
4.855000e+09    1
4.628000e+09    1
9.000000e+08    1
5.628000e+09    1
4.900000e+07    1
3.356000e+09    1
3.150000e+08    1
1.345000e+09    1
2.870000e+08    1
1.322000e+09    1
6.000000e+06    1
2.776000e+09    1
9.206000e+09    1
3.310000e+08    1
8.132000e+09    1
2.510000e+08    1
8.725000e+09    1
7.080000e+08    1
1.790300e+10    1
5.427000e+09    1
2.409800e+10    1
Name: 1979.0, dtype: int64
..................................
0.000000e+00    5
3.850000e+08    2
2.480000e+08    2
7.516000e+09    2
1.360000e+08    2
3.840000e+08    1
7.210000e+08    1
2.162500e+10    1
3.200000e+08    1
7.700000e+07    1
3.960000e+09    1
2.236200e+10    1
1.497000e+09    1
1.024000e+09    1
7.109000e+09    1
4.705000e+09    1
1.500000e+07    1
2.789000e+09    1
5.809000e+09    1
9.000000e+08    1
6.972000e+09    1
5.000000e+07    1
4.859000e+09    1
3.000000e+08    1
1.300000e+09    1
1.730000e+08    1
2.852000e+09    1
1.100000e+07    1
4.053000e+09    1
1.121400e+10    1
3.240000e+08    1
9.875000e+09    1
3.620000e+08    1
1.085500e+10    1
7.180000e+08    1
2.113100e+10    1
6.762000e+09    1
2.864700e+10    1
Name: 1980.0, dtype: int64
..................................
0.000000e+00    5
1.100000e+08    2
8.983000e+09    2
2.690000e+08    2
1.710000e+08    1
2.953000e+09    1
1.800000e+07    1
8.319000e+09    1
1.085000e+09    1
1.449000e+09    1
2.404100e+10    1
4.040000e+08    1
3.469000e+09    1
3.110000e+08    1
2.320100e+10    1
4.680000e+08    1
9.210000e+08    1
3.790000e+08    1
4.825000e+09    1
6.421000e+09    1
8.960000e+08    1
8.494000e+09    1
1.400000e+08    1
5.863000e+09    1
2.910000e+08    1
1.898000e+09    1
4.360000e+08    1
2.934000e+09    1
1.100000e+07    1
5.495000e+09    1
1.167700e+10    1
5.000000e+08    1
9.790000e+09    1
4.240000e+08    1
1.099100e+10    1
7.580000e+08    1
2.285200e+10    1
8.279000e+09    1
3.183500e+10    1
Name: 1981.0, dtype: int64
..................................
0.000000e+00    7
2.690000e+08    3
1.068500e+10    2
5.160000e+08    1
3.390000e+09    1
1.800000e+07    1
7.261000e+09    1
2.650000e+08    1
1.499000e+09    1
3.130300e+10    1
2.200000e+08    1
3.521000e+09    1
3.530000e+08    1
3.022900e+10    1
5.370000e+08    1
1.002000e+09    1
5.575000e+09    1
5.122000e+09    1
9.892000e+09    1
1.017600e+10    1
1.770000e+08    1
1.587700e+10    1
4.600000e+07    1
2.139000e+09    1
3.900000e+08    1
2.645000e+09    1
1.900000e+07    1
6.769000e+09    1
1.046100e+10    1
4.750000e+08    1
8.604000e+09    1
4.870000e+08    1
9.894000e+09    1
7.940000e+08    1
2.990500e+10    1
9.952000e+09    1
4.059000e+10    1
Name: 1982.0, dtype: int64
..................................
0.000000e+00    7
3.620000e+08    3
1.269800e+10    2
4.310000e+08    1
4.422000e+09    1
1.700000e+07    1
8.511000e+09    1
2.310000e+08    1
1.533000e+09    1
3.422400e+10    1
2.250000e+08    1
3.393000e+09    1
4.050000e+08    1
3.294900e+10    1
6.020000e+08    1
1.450000e+09    1
6.561000e+09    1
6.426000e+09    1
1.103100e+10    1
1.229500e+10    1
1.930000e+08    1
1.813900e+10    1
2.200000e+07    1
2.085000e+09    1
3.960000e+08    1
2.469000e+09    1
6.000000e+07    1
7.867000e+09    1
1.091300e+10    1
5.590000e+08    1
8.452000e+09    1
5.600000e+08    1
1.032400e+10    1
7.960000e+08    1
3.274400e+10    1
1.199700e+10    1
4.544200e+10    1
Name: 1983.0, dtype: int64
..................................
0.000000e+00    4
2.200000e+07    2
1.305500e+10    2
2.230000e+08    1
3.981000e+09    1
1.900000e+07    1
1.055800e+10    1
1.700000e+07    1
1.613000e+09    1
3.824200e+10    1
4.410000e+08    1
3.472000e+09    1
3.450000e+08    1
3.730000e+08    1
3.691600e+10    1
2.920000e+08    1
1.853000e+09    1
3.670000e+08    1
6.262000e+09    1
8.221000e+09    1
1.209400e+10    1
1.259200e+10    1
1.940000e+08    1
1.972800e+10    1
2.400000e+07    1
2.337000e+09    1
3.720000e+08    1
3.690000e+08    1
2.645000e+09    1
6.600000e+07    1
8.600000e+09    1
1.164600e+10    1
8.050000e+08    1
8.769000e+09    1
5.500000e+08    1
1.106000e+10    1
8.640000e+08    1
1.000000e+06    1
3.665100e+10    1
1.208100e+10    1
4.970600e+10    1
Name: 1984.0, dtype: int64
..................................
0.000000e+00    3
1.381700e+10    2
6.000000e+06    2
4.560000e+08    1
4.225500e+10    1
4.280000e+09    1
1.800000e+07    1
1.305900e+10    1
4.410000e+08    1
5.000000e+06    1
1.529000e+09    1
2.500000e+08    1
3.212000e+09    1
3.970000e+08    1
5.480000e+08    1
4.067800e+10    1
3.170000e+08    1
1.808000e+09    1
4.030000e+08    1
6.682000e+09    1
1.138200e+10    1
1.270000e+10    1
1.920000e+08    1
9.340000e+08    1
2.083100e+10    1
5.300000e+07    1
1.677000e+09    1
4.270000e+08    1
3.650000e+08    1
2.832000e+09    1
8.700000e+07    1
9.076000e+09    1
1.239800e+10    1
1.337500e+10    1
9.507000e+09    1
6.110000e+08    1
1.182900e+10    1
8.580000e+08    1
1.000000e+06    1
4.043100e+10    1
1.282700e+10    1
5.424800e+10    1
Name: 1985.0, dtype: int64
..................................
0.000000e+00    3
1.573700e+10    2
4.400000e+07    2
4.600000e+08    1
4.745600e+10    1
4.533000e+09    1
1.700000e+07    1
1.406800e+10    1
5.540000e+08    1
2.600000e+07    1
1.564000e+09    1
2.980000e+08    1
3.683000e+09    1
3.680000e+08    1
6.060000e+08    1
4.413900e+10    1
3.740000e+08    1
1.986000e+09    1
4.120000e+08    1
8.650000e+09    1
1.220300e+10    1
1.380400e+10    1
2.250000e+08    1
1.278000e+09    1
2.172200e+10    1
1.190000e+08    1
1.865000e+09    1
3.920000e+08    1
4.580000e+08    1
2.600000e+09    1
1.770000e+08    1
1.043000e+10    1
1.361000e+10    1
1.532400e+10    1
1.030100e+10    1
5.380000e+08    1
1.285600e+10    1
9.060000e+08    1
1.000000e+06    1
4.395600e+10    1
1.444000e+10    1
5.969300e+10    1
Name: 1986.0, dtype: int64
..................................
0.000000e+00    3
1.705800e+10    2
5.800000e+07    2
4.700000e+08    1
5.052500e+10    1
4.766000e+09    1
2.200000e+07    1
1.532800e+10    1
7.040000e+08    1
2.100000e+07    1
1.603000e+09    1
3.220000e+08    1
3.905000e+09    1
1.930000e+08    1
6.140000e+08    1
4.634900e+10    1
4.240000e+08    1
1.965000e+09    1
2.510000e+08    1
1.011200e+10    1
1.301600e+10    1
1.481100e+10    1
2.480000e+08    1
9.020000e+08    1
2.259700e+10    1
1.480000e+08    1
2.312000e+09    1
2.160000e+08    1
5.110000e+08    1
2.307000e+09    1
2.350000e+08    1
1.133300e+10    1
1.334600e+10    1
1.643500e+10    1
1.009200e+10    1
5.630000e+08    1
1.250800e+10    1
9.260000e+08    1
1.000000e+06    1
4.597700e+10    1
1.558300e+10    1
6.303500e+10    1
Name: 1987.0, dtype: int64
..................................
1.780200e+10    2
1.000000e+06    2
0.000000e+00    2

In [135]:
df.to_csv('C:\\Users\\USER\\Desktop\\World_Electric_analysis\\ele_pro_rene_souc.csv')